@import "../../variables.scss";

a {
  text-decoration: none;
  color:inherit;
}
.header {
  height: 70px;
  color: white;
  background-color: $primary;
}
.header_content{
  width: 1180px;
  display: flex;
}

.imiCeQ {
    position: relative;
}

.Navbar{
  line-height: 64px;
  background:white;
  border-bottom: 1px solid #DAE1E9;
}

.eVuugS:not(:first-child) {
    margin-left: 30px;
}

.dzohzs {
    -webkit-flex: 0 0 64px;
    -ms-flex: 0 0 64px;
    height: 64px;
    border-bottom: -4px solid #DAE1E9;
}
.Navbar_link{
  text-decoration: none;
  cursor: pointer;
  color: #7D95B6;
}

.Navbar_link.active{
  color:#0067C8;
  border-bottom: solid 1px $primary;
}

.hBrjIA {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.iDqRrV {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.cFMUnB {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 1180px;
}

.hruEfI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.bggzhW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.kSAvah {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.menu__logo-img{
  height: 80px;
  width: auto;
}
