.footer {
  height: 70px;
  color: #4E5C6E;
  background-color: white;
  border-top: 1px solid #DAE1E9;
  position:absolute;
  bottom:0;
  width: 100%;
}
.footer_content{
  width: 1180px;
  display: flex;
}
